
.center {
	margin-left: auto;
	margin-right: auto;
}

.center-all{
	margin-left 	: auto;
	margin-right 	: auto;
	text-align 	: center;
	width 		: 100%;
}

.center-about{
	width 		: 70%;
	text-align 	: center;
}

body {
	/*background: blue;*/
	width: 100%;
	text-align: center;
	margin:0;
}


div#backdrop {
	width: 75%;
	padding: 10px;
	border-radius: 10px;
	background: #D3D3D3 ;
	margin-top: 10px;
}

h1#header{
	font-size: 2.5em;
	font-family: Arial, Helvetica, sans-serif;
}

h1{
	font-family 	: Arial, Helvetica, sans-serif;
	display 	: inline-block;
}

div#nav {
	margin 		: 10px auto;
	width 		: 80%;
	background 	: #ffffff;
	border-radius 	: 5px;
	font-family 	: Verdana, Arial, Helvetica, sans-serif;
	
}

div#content {
	width 		: 80%;
	min-height 	: 500px;
	text-align 	: left;
	font-family 	: Verdana, Arial, Helvetica, sans-serif;
}

#left-align {
	text-align: left;
}

#right-align{
	text-align: right;
}

img {
	border-radius: 5px;
}

/*regular links*/
a:link{
	text-decoration: none;
}

a#link {
	text-decoration: 	none;
	font-family: 		Verdana ,sans-serif;
	border-radius: 		6px;
	padding: 			10px;
	margin:				5px auto;
	display: 			inline-block;
}

/*when the link is just sitting there*/
a:link#link {
	background: #FFFFFF;
	color: black;
}

/*mousing over the link*/
a:hover#link {
	background: #AFEEEE;
}

a:visited#link {

	color: black;
}


ul.quicklinks {
	display 		: inline-block;
	list-style-type 	: none;
	font-size 		: 1.1em;
	text-align 		: left;
	max-width 		: 21%;
	margin 			: 0px 2% 0px 0px;
	padding 		: 2%;
	border-radius 		: 5px;
	background 		: aliceblue;
}

ul.quicklinks > ul {
	list-style-type : none;
	font-size 		: 0.9em;
}

ul.quicklinks > li > a, ul.quicklinks > ul > li > a{
	color: black;
}


/*p{
	max-
}*/
