<!DOCTYPE html>
<html>
<head>
	<base href="{{ site.url }}">
	<link rel="stylesheet" type="text/css" href="style.css">
	<meta charset="UTF-8">
	<meta name="description" content="This is the personal website of Adam Cordingley. Information pertinent to Adam's research at Marshall University, interests, and projects can be found here.">
	<meta name="author" content="Adam C. Cordingley">

	<title>Adam Cordingley - {{ page.title }}</title>
	<link rel="apple-touch-icon" sizes="57x57" href="icons/apple-icon-57x57.png">
	<link rel="apple-touch-icon" sizes="60x60" href="icons/apple-icon-60x60.png">
	<link rel="apple-touch-icon" sizes="72x72" href="icons/apple-icon-72x72.png">
	<link rel="apple-touch-icon" sizes="76x76" href="icons/apple-icon-76x76.png">
	<link rel="apple-touch-icon" sizes="114x114" href="icons/apple-icon-114x114.png">
	<link rel="apple-touch-icon" sizes="120x120" href="icons/apple-icon-120x120.png">
	<link rel="apple-touch-icon" sizes="144x144" href="icons/apple-icon-144x144.png">
	<link rel="apple-touch-icon" sizes="152x152" href="icons/apple-icon-152x152.png">
	<link rel="apple-touch-icon" sizes="180x180" href="icons/apple-icon-180x180.png">
	<link rel="icon" type="image/png" sizes="192x192"  href="icons/android-icon-192x192.png">
	<link rel="icon" type="image/png" sizes="32x32" href="icons/favicon-32x32.png">
	<link rel="icon" type="image/png" sizes="96x96" href="icons/favicon-96x96.png">
	<link rel="icon" type="image/png" sizes="16x16" href="icons/favicon-16x16.png">
	<link rel="manifest" href="icons/manifest.json">
	<meta name="msapplication-TileColor" content="#ffffff">
	<meta name="msapplication-TileImage" content="icons/ms-icon-144x144.png">
	<meta name="theme-color" content="#ffffff">
	
	<!--Google Analytics-->
	<script type="text/javascript" src="googleanalytics.js"></script>
	<!--Google Stuff-->
	<script type="text/javascript" src="https://apis.google.com/js/platform.js"></script>
	<!--Twitter-->
	<script type="text/javascript" src="http://platform.twitter.com/widgets.js"></script>
	<!--GitHub-->
	<script async defer src="https://buttons.github.io/buttons.js"></script>
</head>
<body>
	<div id="backdrop" class="center">
		<!--<img src="img/web_header.png">-->
		<h1 id="header">Adam Cordingley</h1>
		{{ site.default-nav }}
<!--		<div id="nav" >
			<a href="index.html"    id="link">Home</a>
			<a href="cwru.html"     id="link">CWRU</a>
			<a href="research.html" id="link">Marshall</a>
			<a href="about.html"    id="link">About</a>
			<a href="contact.html"  id="link">Contact</a>
			
		</div> -->
		<div id="content" class="center">
			<h1 class="center-all">{{ page.title }}</h1>
		
			{{ content }}
		</div>
	</div>
	<div id="footer">
			<p>&copy; 2018 Adam Cordingley</p>
		</div>

</body>
</html>
